@page "/servers/{id:int}"
@inject NavigationManager NavigationManager

<h3>Edit Server</h3>
<br />
<br />
@if(server is not null)
{
    <EditForm Model="server" FormName="formServer" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <InputNumber @bind-Value="server.Id" hidden />
        <div class="mb-3">
            <label for="@server.Name" class="col-form-label">Name</label>
            <InputText @bind-Value="server.Name" class="form-control"></InputText>
            <ValidationMessage For="() => server.Name"></ValidationMessage>
        </div>
        <div class="mb-3">
            <label for="@server.Name" class="col-form-label">City</label>
            <InputText @bind-Value="server.City" class="form-control"></InputText>
            <ValidationMessage For="() => server.City"></ValidationMessage>
        </div>
        <div class="mb-3">
            <label for="@server.IsOnline" class="form-label">Online</label>
            <InputCheckbox @bind-Value="server.IsOnline" />
        </div>
        
        <button class="btn btn-primary" type="submit">Update</button>
        &nbsp;
        <a href="/servers" class="btn btn-primary">Close</a>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "formServer")]
    private Server? server { get; set; }

    protected override void OnParametersSet()
    {
        server ??= ServersRepository.GetServerById(this.Id);
    }

    private void Submit()
    {
        if (server is not null)
        {
            ServersRepository.UpdateServer(server.Id, server);
        }

        NavigationManager.NavigateTo("/servers");
    }
}
