@page "/servers"

@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h2>Servers</h2>
<br />
<br />
<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection" />
<br />
<SearchBarComponent @ref="searchBarComponent" SearchFilterCallBack="HandleServerSearch" />
<br />
<ServerListComponent @rendermode="InteractiveServer" CityName="@this.selectedCity" SearchFilter="@this.searchFilter" />
<br />
<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {

    private string selectedCity = "Toronto";
    private string searchFilter = "";
    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandleCitySelection(string cityName)
    {
        this.selectedCity = cityName;
        this.searchFilter = string.Empty;
        searchBarComponent?.ClearFilter();
    }

    private void HandleServerSearch(string searchFilter)
    {
        this.searchFilter = searchFilter;
        cityListComponent?.ClearSelection();
    }
}
