@page "/counter"

<h3>Counter</h3>
<br />

<b>Server Interactivity</b>
<CounterComponent @rendermode="InteractiveServer" />
<br />
<br />
<br />
<b>WebAssembly Interactivity</b>
<CounterComponent @rendermode="InteractiveWebAssembly" />

@code {

}
