@page "/todolist"

@rendermode InteractiveServer

<h3>ToDo</h3>
<br />
<button type="button" class="btn btn-success" @onclick="AddTask">Add Task</button>
<hr />
@if (items is not null && items.Count > 0)
{
    <ul class="list-unstyled">
        <ItemsListComponent Items="items" />
    </ul>
}

@code {
    private List<ToDoItem> items = ToDoItemsRepository.GetItems();

    private void AddTask()
    {
        ToDoItemsRepository.AddItem(new ToDoItem { Name = "New Task" });
        items = ToDoItemsRepository.GetItems();
    }
}
